* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
:root {
    --cor-primaria: #8b0101;
    --cor-secundaria: #C4C4C4;
    --cor-tercearia: #FFFFFF;
}
header {
    background-color: var(--cor-primaria);
    align-content: center;
    transition: 0.4s ease-out;
    margin: 0;
    text-align: center;
    padding: 50px;
    word-spacing: 400px;
}
header:hover {
    background-color: #e20000;
}
body {
    background-color: var(--cor-secundaria);
}
main {
    margin-top: 350px;
    margin-bottom: 350px;
}
/* MENU PRINCIPAU */
 #menuheader {
    word-spacing: 400px;
    text-align: center;
    font-size: 60px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#menu {
    word-spacing: 2px;
    text-align: center;
    font-size: 60px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#menu:hover {
    color: #44cc05;
    text-decoration: none;
    word-spacing: 2px;
    text-align: center;
    font-size: 60px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#inicio:link {
    text-decoration: none;
    color: var(--cor-tercearia);
    transition: 0.2s ease-in-out;
}
#inicio:visited {
    text-decoration: none;
    color: var(--cor-tercearia);
    transition: 0.2s ease-in-out;
}
a:hover {
    text-decoration: none;
    color: var(--cor-tercearia);
    text-shadow: 2px 5px 5px #000000;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    transition: 0.2s ease-in-out;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    transition: 0.2s ease-out;
}
#menu1 {
    color: #000000;
    font-size: 50px;
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    transform: scale(1.2);
    transition: 0.4s ease-in-out;
}
div {
    color: var(--cor-tercearia);
    font-size: 80px;
    transition: 0.3s ease-in-out;
}
#menu:hover {
    color: var(--cor-primaria);
    text-shadow: #ff0000 2px 5px 5px;
    transition: 0.2s ease-in-out;
    font-size: 80px;
}
/* fim menu */
 .info {
    color: aliceblue;
    font-size: 30px;
    background-color: var(--cor-primaria);
    width: 500px;
    height: 450px;
    position: absolute;
    left: 34%;
    right: 50%;
    margin-bottom: 150px;
    border-radius: 50px;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    text-align: center;
}
.info:hover {
    color: aliceblue;
    font-size: 30px;
    background-color:#da0202;
    width: 500px;
    height: 450px;
    position: absolute;
    left: 34%;
    right: 50%;
    margin-bottom: 150px;
    border-radius: 50px;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    text-align: center;
    transform: scale(1.1);
    box-shadow: 5px 10px 8px black;
}

ul {
    list-style: inside;
    padding: 0;
    margin: 5px 5px 0px 5px;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}	

.habilidade {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    text-align: center;
    margin: 155px 45px 155px 45px;
}
.menu3 {
word-spacing: 2px;
text-align: center;
font-size: 60px;
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;
margin: 25px 25px 25px 25px;
 }